.wrapper{
    width: 100%;
    padding:0.2rem 0;
    height: 70vh;
    background-color: #FFF;
    border-radius: 28px;
    position: relative;
    overflow-y: scroll;
    
    
}
.wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #F6C90E;
    top: -20%;
    left: -50%;
    z-index: 0;
  }
 .wrapper::-webkit-scrollbar {
    display: none;
  }
.logo{
    padding: 12px 28px;
    img{
        width: 3rem;
        height: auto;
    }
    position: relative;

}
.content{
    font-weight: 700;
    font-size: 1.6rem;
    padding: 12px 28px;
    position: relative;
    p{
        padding: 0 ;
        margin: 0;
        font-family: "Rubik", sans-serif;
    }
   
}
.products{
    position: relative;
    height: 56vh;
    overflow-y: scroll;
    overflow-x: hidden;
   
}

.products::-webkit-scrollbar {
    width: 0; /* Chiều rộng của thanh cuộn */
  }
  
  .products::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của phần thân thanh cuộn */
  }
  
 .products::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu của phần track thanh cuộn */
  }
  @media only screen and (max-width: 767px) {
        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        .products{
            height: 76vh;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-bottom: 1rem;
        }
  }