.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    &::before {
        content: "";
        display: block;
        position: fixed;
        width: 300%;
        height: 100%;
        top: 70%;
        left: 50%;
        border-radius: 100%;
        transform: translateX(-50%) skewY(-8deg);
        background-color: #F6C90E;
        z-index: -1;
        
      }
  
}

.products{
    width: 20%;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 28px;
    margin: 1rem;
}
.cart{
    width: 20%;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 28px;
    margin: 1rem;
}
@media only screen and (max-width: 767px) {
    
    :root{
        .wrapper{
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
           
           height:fit-content ;
            overflow: scroll;
        }
    }
    .products{
        width: 90%;
        height: 90vh;
      
    }
    .cart{
        width: 90%;
        height: 70vh;
    }
    
  }